<footer>
  <div class="d-flex flex-column flex-md-row align-items-center pt-3 mt-4 flex-column-reverse">
    <a href="{{ site.baseurl }}/" class="d-flex align-items-center text-muted text-decoration-none">
      <span class="">{{ site.title | escape }} &middot; &copy; 2022</span> 
    </a>
    <ul class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="nav-item me-3 py-2 text-muted text-decoration-none" href="{{ site.baseurl }}{% link signup.html %}">Партнерам</a>
      <a class="nav-item me-3 py-2 text-muted text-decoration-none" href="{{ site.baseurl }}{% link agreement.html %}">Соглашение</a>
      <a class="nav-item me-3 py-2 text-muted text-decoration-none" href="{{ site.baseurl }}{% link contact.html %}">Контакты</a>
    </ul>
  </div>

</footer>