<footer>
<div class="col-lg-9 mx-auto">
  <div class="d-flex flex-column flex-md-row align-items-center pt-3 mt-4 flex-column-reverse">
    <a href="{{ site.baseurl }}/" class="d-flex align-items-center text-muted text-decoration-none">
      <span class="footer-title">{{ site.title | escape }} &middot; &copy; 2022</span> 
    </a>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <nav class="ms-auto d-flex align-items-center">
      <a class="nav-item footer-nav-item py-2 text-decoration-none" href="{{ site.baseurl }}{% link partners.html %}">Партнерам</a>
    </nav>
    <nav class="ms-auto d-flex align-items-center">
      <a class="nav-item footer-nav-item py-2 text-decoration-none" href="{{ site.baseurl }}{% link agreement.html %}">Соглашение</a>
    </nav>
    <nav class="ms-auto d-flex align-items-center">
      <a class="nav-item footer-nav-item py-2 text-decoration-none" href="{{ site.baseurl }}{% link contact.html %}">Контакты</a>
    </nav>
    </div>
  </div>
</div>
</footer>
