<footer>
  <div class="d-flex flex-column flex-md-row align-items-center pt-3 mt-4">
    <a href="/" class="d-flex align-items-center text-muted text-decoration-none">
      <span class="">{{ site.title | escape }} &middot; &copy; 2022</span> 
    </a>
    <ul class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="nav-item me-3 py-2 text-muted text-decoration-none" href="user-agreement.html">Соглашение</a>
      <a class="nav-item me-3 py-2 text-muted text-decoration-none" href="contact.html">Контакты</a>
      <a class="nav-item me-3 py-2 text-muted text-decoration-none" href="#">Партнерам</a>
    </ul>
  </div>

</footer>