<header>
<div class="col-lg-9 mx-auto mb-5">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <div class="d-flex">
    <a href="{{ "/" | relative_url }}" class="d-flex align-items-center text-decoration-none header-logo">kitster</a> 
    <nav class="ms-auto d-flex align-items-center">
      <a class="mx-auto text-decoration-none header-item" href="{{ site.baseurl }}{% link signin.html %}">Вход</a>
    </nav>
  </div>
</div>
</header>