{% extends "kits/base.html" %}
{% load static %}

{% block meta_social %}

  <!--  Essential META Tags -->
  <meta property="og:title" content="{{kit.title}} от {{kit.author}}">
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://{{ request.get_host }}{{ kit.cover.url }}">
  <meta property="og:url" content="https://kitster.art/">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:description" content="{{kit.description}}">
  <meta property="og:site_name" content="Kitster">
  <meta name="twitter:image:alt" content="Image Not Found">
{% endblock %}

{% block content %}

<div class="kit-hero position-relative mb-5">
      <img src="{{kit.hero_cover.url}}" alt="..." class="img img-fluid kit-hero-img">
      <div class="position-absolute translate-middle top-50 start-50" style="width:80%;">
        <h1 class="text-center {{kit.class_addon}}">{{kit.title}}</h1>
        <h2 class="d-none d-sm-block lead text-center {{kit.class_addon}}"> {{kit.description}}</h2>
      </div>
      <div class="position-absolute translate-middle-x bottom-0 start-50 m-3">
        <div class="">
          <div class="d-flex position-relative">
            <img height="25px" width="25px" src="{{kit.author.avatar.url}}" alt="..." class="rounded-circle my-auto ">
            <p class="ms-1 my-auto"><a class="link-dark {{kit.class_addon}}" href="{% url 'maker' kit.author %}">{{kit.author.name}}</a></p>
            <p class="badge rounded-pill bg-info my-auto ms-1" style="padding: 0px; font-size: 10px;"><i class="bi bi-patch-check"></i></p>
          </div>
          
        </div>
      </div>
</div>

<h2 class="lead text-center font-italic"> "{{kit.description}}"</h2>

<div class="row" data-masonry='{"percentPosition": true }' style="position: relative; height: 690px;" id="masonry-container">
  {% for product in kit.product_set.all %}
    <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card">
      <div class="card-header position-relative" style="
       background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 35%, rgba(0,0,0,0.75) 100%), url({{product.img_url.url}}), linear-gradient(white, white);
   ">
        <div class="d-flex justify-content-between align-items-center position-absolute start-0 bottom-0 ms-3 mb-1" ">
          <div class="btn-group">
            {% if product.yandex_market_link != 'default' %}
            <a class="btn btn-warning" class="btn btn-sm btn-outline-secondary" href="{{product.yandex_market_link}}" style="color: white; border-radius: 25px; padding:2px 5px; text-transform: lowercase; margin-bottom: 5px;" target="_blank">🛒 Яндекс.Маркет</a>
            {% else %}
            <a class="btn btn-warning" class="btn btn-sm btn-outline-secondary" href="{{product.other_link}}" style="color: white; border-radius: 25px; padding:2px 5px; text-transform: lowercase; margin-bottom: 5px;" target="_blank">Смотреть</a>
            {% endif %} 
          </div>
        </div>
      </div>
      <div class="card-body">
        <h6 class="card-title">{{product.name}}</h6>
        <p class="card-text">{{product.description}}</p>
      </div>
    </div>
    </div>
  {% endfor %}
</div>

{% endblock %}