<footer class="pb-3 mt-auto">
<div class="col-lg-9 mx-auto">
  <div class="d-flex flex-column flex-md-row align-items-center pt-3 flex-column-reverse">
    <a href="{% url 'kits:index' %}" class="d-flex align-items-center text-muted text-decoration-none">
      <span class="footer-title">kitster &middot; &copy; 2022</span> 
    </a>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <nav class="ms-auto d-flex align-items-center">
      <a class="nav-item footer-nav-item py-2 text-decoration-none" href="">Партнерам</a>
    </nav>
    <nav class="ms-auto d-flex align-items-center">
      <a class="nav-item footer-nav-item py-2 text-decoration-none" href="">Соглашение</a>
    </nav>
    <nav class="ms-auto d-flex align-items-center">
      <a class="nav-item footer-nav-item py-2 text-decoration-none" href="">Контакты</a>
    </nav>
    </div>
  </div>
</div>
</footer>
