<header>
<div class="col-lg-10 mx-auto">
  <div class="d-flex mt-3">
    <a href="{% url 'index' %}" class="d-flex align-items-center text-decoration-none header-logo">kitster</a> 
    {% if not user.is_authenticated %}
    <nav class="ms-auto d-flex align-items-center">
      <a class="mx-auto py-2 text-decoration-none header-item" href="{% url 'login' %}">Вход</a>
    </nav>
<!--     <nav class="d-flex align-items-center">
      <a class="mx-auto py-2 text-decoration-none header-item" href="{% url 'signup' %}">Регистрация</a>
    </nav> -->
    {% else %}
    <nav class="ms-auto d-flex align-items-center">
      <a class="mx-auto py-2 text-decoration-none header-item" href="{% url 'logout' %}">Выйти</a>
    </nav>
    {% endif %}
  </div>
</div>
</header>