{% extends "kits/base.html" %}
{% load static %}

{% block content %}

<h1> О сервисе </h1>
<p>Kitster помогает мейкерам и мейкершам монетизировать творчество и взаимодействовать с аудиторией. </p>
<p>Основные механики монитезации:
<ul>
<li> мейкер(-ша) рассказывает, чем пользуется в своем творчестве, и получает кешбек за продукты, купленные по его/ее рекомендации </li>
<li> мы помогаем связаться с брендами для сотрудничества </li>
<li> вы также можете подключить форму для получения донатов </li>
</ul>
</p>

<p>Если хотите подключиться к нашей базе и начать получать кешбек - напишите, пожалуйста, в телеграмм (<a href="https://t.me/evgenity">t.me/evgenity</a>) или на почту <a href="mailto:info@kitser.art">info@kitser.art</a> - мы поможем создать профиль и проконсультируем по всем вопросам.</p> 

<h2>Как это работает?</h2>

<p>Вы получите контакт персонального менеджера. Мы попросим вас рассказать о продуктах, которыми вы пользуетесь для творчества (от карандашей и ластиков до обучающих курсов и книг). Все остальное мы сделаем сами - создадим вам профиль и сделаем раздел на сайте про ваши любимые продукты. Когда пользователи будут покупать продукты по вашей рекомендации, вы будете получать кешбек (от 2 до 10 процентов). Мы также постараемся связать вас с брендами, которые вы используете, и поможем договориться о рекламных интеграциях.</p>

<h2>Следующий шаг</h2>
Напишите в телеграмм (<a href="https://t.me/evgenity">t.me/evgenity</a>) или на почту <a href="mailto:info@kitser.art">info@kitser.art</a>. Мы будем рады ответить на ваши вопросы (даже если на вас пока подписана только ваша мама).

{% endblock %}