{% extends "kits/base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Попробуйте еще раз</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>У вашего аккаунта нет доступа к этой странице. Пожалуйста, свяжитесь с администрацией.</p>
    {% else %}
      <p style="color: white;">Введите логин и пароль, чтобы увидеть эту страницу.</p>
    {% endif %}
  {% endif %}

<style type="text/css">
  body {
    background: #7745D9;
  }
</style>

<div class='d-flex'>
  <form method="post" class="m-auto" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-2">
        <label for="id_username" class="small mb-1">Электронная почта</label>
        {{ form.username }}
      </div>
      <div class="mb-4">
        <label for="id_password" class="small mb-1">Пароль</label>
        {{ form.password }}
      </div>
    <div class='d-flex mb-3'>
      <input type="submit" value="Войти" class="btn btn-submit m-auto">
    </div>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>
<div class="d-flex mb-3">
  <a class='m-auto link-light small' href="{% url 'password_reset' %}">восстановить пароль</a>
  </div>
  <div class="d-flex">
  <a class='m-auto link-light small' href="{% url 'signup' %}">создать профиль</a>
</div>

{% endblock %}