{% extends "kits/base.html" %}

{% block content %}

<style type="text/css">
  body {
    background: #7745D9;
  }
  header, footer {
    display: none;
  }
</style>

<div class="w-100 m-auto" style="margin-top: 15% !important">
<div class='d-flex mb-4 '>
  <a href="{% url 'index' %}" class="mx-auto" style="color: white;  font-family: 'Dosis', serif; font-weight: 100;font-size: 2rem; text-decoration: none;">kitster</a>
</div>
  <div class='d-flex col-6 mx-auto'>
  <form method="post" class="m-auto w-100">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <label for="id_email" class="small mb-1">Электронная почта</label>
      <p>{{ form.email }}</p>
      <div class='d-flex mb-3'>
        <input type="submit" class="btn btn-submit mx-auto" value="Сбросить пароль">
      </div>
  </form>
{% endblock %}