<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body style="background-color: rgb(238, 237, 240);">
  <div class="mainwrapper">
  <video autoplay playsinline muted id="bgVideo" style="position: fixed; right: 0;bottom: 0;min-width: 100%; min-height: 100%; z-index: -500; -o-filter: blur(10px);filter: blur(10px);object-fit: cover; transform: scale(1.04)">
    <source src="https://media.istockphoto.com/videos/pencil-lead-snapping-slow-motion-video-id591398700" type="video/mp4">
    </video>
    <div class="col-lg-8 mx-auto p-3 py-md-5">

      {%- include header.html -%}
      <main class="pb-5">
      {{ content }}
      </main>

      {%- include footer.html -%}
    </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</div>
  </body>

  </html>
