---
layout: default
---




<div  class="mb-4 position-relative">
  <img src="/assets/images/1500x500.png" alt="..." class="img img-fluid">
  <div class="position-absolute" style="bottom: 0; left: 0px; background: rgba(255, 255, 255, 0.75);">
          <div class="d-flex my-3 col-4">
          <div class="position-relative">
             <img height="48px" width="48px" src="{{ site.baseurl }}{{page.author-avatar}}" alt="..." class="rounded-circle">
             <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-info" style="padding: 0px 1px 2px 2px;"><i class="bi bi-patch-check"></i></span>
            </div>
            <h1 class="ms-3 my-auto">{{page.name}}</h1>
            </div>
            <div class="m-1">Творческий деятель</div>
</div>
</div>



<!-- <h2>Примеры работ</h2>
<h2>Задонатить</h2> -->



<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled"><a class="page-link">Наборы</a></li>
    <li class="page-item"><a class="page-link link-dark" href="#">Донаты</a></li>
    <li class="page-item"><a class="page-link link-dark" href="#">Работы</a></li>
    <li class="page-item"><a class="page-link link-dark" href="#">Контакты</a></li>
  </ul>
</nav>



<h2>Наборы автора</h2>
<!-- <div class="card">
  <img class="card-img" src="{{ page.cover }}">
  <div class="card-img-overlay">
    <h5 class="card-title">@{{page.name}}</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div> -->


<br>

<div class="row data-masonry='{"percentPosition": true }' id="masonry-container">
  {%- assign author_kits = site.kits | where: "author", page.name -%}
   {%- for kit in author_kits -%}
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <!-- <div class="card-header small py-0 border-0">
            {{kit.status}}
          </div> -->
          <img class="card-img-top" src="{{ site.baseurl }}{{kit.cover}}">
          <a class="card-block stretched-link text-decoration-none" href="{{kit.url | relative_url}}" ></a>
          <div class="card-body">
            <h5 class="card-title">{{kit.title}}</h5>
            <p class="card-text mb-0">{{kit.description}}</p>
          </div>
          
          <div class="d-flex card-footer border-0">
            <div class="">
                <img height="25px" width="25px" src="{{ site.baseurl }}{{page.author-avatar}}" alt="..." class="rounded-circle">
            </div>
            <div class="ms-auto small my-auto">
              <a class='link-dark' href="#">{{kit.author | escape}}</a>
            </div>
            <!-- <div class="my-auto">
              <p class="small mb-0 my-auto">{{kit.products.size}} шт.</p>
            </div> -->
          </div>
        </div>
      </div>
      {%- endfor -%}
</div>