---
layout: default
---

<div class="d-flex my-1 mb-3">
     <img height="48px" width="48px" src="{{ site.baseurl }}{{page.author-avatar}}" alt="..." class="rounded-circle">
	<h1 class="ms-3 my-auto">Профиль {{page.name}}</h1>
</div>

{{ content }}

<h2>Начисления</h2>
<table class="table table-striped table-hover table-sm">
	<tr>
		<th></th>
		<th>Сумма (руб)</th>	
	</tr>
	<tr>
		<td>Кешбек</td>
		<td>0.0</td>
	</tr>
	<tr>
		<td>Донаты</td>
		<td>0.0</td>
	</tr>
	<tr>
		<td>Бонусы</td>
		<td>0.0</td>
	</tr>
</table>

<p class="small">Чтобы снять деньги - напишите своему менеджеру.</p>

<h2>Эффективность наборов</h2>
<table class="table table-striped table-hover table-sm">
{%- for kit in site.kits -%}
	<tr>
		<td>{{kit.title}}</td>
		<td>0 переходов</td>
	</tr>
{%- endfor -%}
</table>

<h2>Покупки подписчиков</h2>
<p>Пока нет покупок</p>

<h2>Личный менеджер</h2>
<p>Евгений Быков</p>
<a class="link-dark" href="tel:+79851283708">Тел.: +79851283708</p>
<a class="link-dark" href="https://t.me/evgenity">Tg: @evgenity</a>
